body { 
    display: flex;
    max-width: 850px;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: center;

}

.form {
    box-sizing: border-box;
    height: 400px;
    margin-top: 100px;
    max-width: 700px;
    padding: 10px;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    border: 3px solid rgba(211, 50, 5, 0.893);
    border-radius: 2%;
    background-color: rgb(229, 232, 240);
    overflow: hidden;
     }


label {
    padding: 5px;
    padding: 8px;
}

input {
    margin: 3px;
    box-sizing: border-box;
}
 
#lahiosoite {
    width: 300px;
}


h2 {
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}

button {
    margin: 15px;
    margin-left: 120px;
    margin-right: 110px;
    padding: 7px;
    margin-top: 60px;
    padding-right: 12px;
    padding-left: 12px;
    align-self: center;
    background-color: rgb(236, 86, 44);
    border-radius: 5px;
    font-size: 14px;
    color: white;
}

.reviewButton {
    float: right;
}
