.laskin {
    margin: auto;
    margin-top: 300px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
  }

.ruutu {
    font-size: 3rem;
    text-align: right;
    background: rgba(31, 35, 43, 0.685);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(80px, auto) repeat(4, 80px); 
    grid-gap: 3px;
    background-color: rgba(47, 49, 54, 0.685);
    padding: 5px;
  }

.input {
    height: 100px;
    width: 320px;
    background-color:rgba(19, 17, 17, 0.658);
    color: white;
    font-size: 25px;
    text-align: right
  }
  
.enter
{
    grid-column: 4/5;
    grid-row: 3 /span 3;
    height: auto;
    background-color:rgba(187, 56, 56, 0.753);
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 3px;
    margin-bottom: 7px;

}

.nappi
{
background-color:rgba(142, 106, 166, 0.025);
color: white;
font-size: 30px;
border-radius: 5px;
font-weight: bold;
margin-left: 5px;
margin-bottom: 7px;
}